body { 
    font: 11px Arial;
}

.clear {
    clear:both;
}

path { 
    opacity: 1 !important;
    stroke-width: 2;
    fill: none;
    stroke: #CACACA;
}

.xAxis path, .xAxis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.yAxisL path, .yAxisL line, .yAxisR path, .yAxisR line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
    opacity: 0.1;
}

.grid-line {
    stroke: gray;
    stroke-width: 1px;
    opacity: 0.1;
}

.GDPLine {
    stroke : #FF5722;
}

.Population {
    stroke:#003300;
}

.avgMobileDataSpeed {
    stroke: rgb(165, 119, 66);
    fill: #E07628;
}

.avgTimeSpentOnSocialMedia {
    stroke:rgb(252, 197, 70);
    fill: rgba(254, 181, 6, 0.34);
}

#shareCointer {
    float: right;
    margin-top: 1%;
    
}

#twitter_integration {
    position: relative;
    top: 0;
    display: inline-block;
    padding: 5px;
    font-size: 1em !important;
}

#fb_integration {
    position: relative;
    bottom: 2px;
    display: inline-block;
    padding: 5px; 
    font-size: 1em !important;
}

#embedChart {
    position: relative;
    bottom: 5px;
    display: inline-block;
    padding: 5px; 
    font-size: 11px !important;
}

#embed{
    position: absolute;
    
}

.legend{
    cursor: pointer;
    
    
}

#chart-footer{
    font-size: 1em;
    
    float: left;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    
}

.tooltipsy
{
    padding: 10px;
    max-width: 200px;
    color: rgba(0, 0, 0, 0.75);
    background-color: #FFFFFF;
    border: 1px solid ;
    border-radius: 2px;
}

@media (min-width:610px) and (max-width:760px){

    body{
        font-size: 8px;
        font-weight: bold;
    }
    
}

@media ( min-width : 0px ) and ( max-width : 610px ) {
    body{
        font-size: 7px;
        //font-weight: bold;
    }
    
    .m1{
        clear: both;
        
    }
    
    #chart-footer{
        
        font-size: 8px;
    }
    
    #chart-footer div[class=clear]{
        clear: none;
        
    }
    
    #ROSSDRWSON-Logo{
        
        float: right !important;
        
    }
    
}

#chart-footer p {
    float: left;
    display: inline-block;
    margin-bottom: 0px;
   
}

select{
     float : right; 
     margin-right : 6%; 
     font-size: 1.2em;
}


    #chart-container{
        
        text-align: center;
    }
    
    .mainSvg image{
        border: 1px solid black;
        
    }
    
    #AHT-Logo, #ROSSDRWSON-Logo, #memestreme-Logo {
    height:50px;
    float: left;
    
}

#memestreme-Logo{
    
    float: right;
}